@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --pink-light:   #feecf2;
  --pink-mid:     #f06292;
  --pink-main:    #D4537E;
  --pink-dark:    #ad1457;
  --pink-deep:    #993556;
  --shadow-glow:  rgba(212, 83, 126, 0.928);
  --ring-color:   rgba(190, 44, 92, 0.555);
}

h1, h2, h3, p, span, div {
  font-family: 'Playfair Display', Georgia, serif;
}